@import url(http://fonts.googleapis.com/css?family=Gudea:100,400|Lato:100);

.button:hover {
	cursor: pointer;
	color: #4C4C4C;
	background-color: #E6E6E6;

}

.wrapper{
    width:650px;
    height:200px;
    position:absolute;
    left:50%;
    top:43%;
    margin:-100px 0 0 -325px;
    font-family: 'Lato';
    color: black;
}
#strategy {
	height: 200px;
	margin-bottom: 0px;
	font-size: 3.2em;
}

.button {
	width: 30%;
	padding: 30px;
	margin: 0 auto;
	text-align: center;
	background-color: #ecf0f1;
	border-radius: 5px;
	line-height: 0px;
	font-family: 'Helvetica', 'Arial';
	font-size: 1em;
	font-weight: 100;
	color: #7f8c8d;
	text-transform: uppercase;
}